body{
    background-color: rgb(35, 151, 6);
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #4df34d;
    color:floralwhite;
    border-radius: 0px;
}

.body-container{
    width: 1100px;
    height: 520px;
    margin: auto;
    border: 1px solid  rgb(20, 88, 26);
}
.body-row{
    height: 170px;
    margin-bottom: 5px;
    background-color: yellowgreen;
}
.navbar-dark{
    background: #08a021;
}